@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
@apply bg-gray-600;
font-family: "Quantico", sans-serif;
background-image: url("https://www.transparenttextures.com/patterns/office.png");}

.fadeRight{
  @apply animate-fade-right animate-once animate-duration-1000;
}
.fadeRightDelayed{
  @apply animate-fade-right animate-once animate-duration-1000 animate-delay-500 animate-ease-in;
}

.fadeLeft{
  @apply animate-fade-left animate-once animate-duration-1000 animate-delay-500 animate-ease-in;
}

.fadeDown{
  @apply animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in;
}

.flipDown{
  @apply animate-flip-down animate-once animate-duration-[1000ms] animate-delay-1500 animate-ease-in;
}

.flipUp{
  @apply animate-flip-up animate-once animate-duration-1000 animate-ease-linear animate-normal;
}

.popIn{
  @apply animate-jump-in animate-once animate-duration-[1000ms] animate-ease-in;
}

.carouselNext{
  @apply animate-fade-right animate-once animate-duration-500 animate-ease-linear animate-reverse;
}

.carouselPrev{
  @apply animate-fade-left animate-once animate-duration-500 animate-ease-linear animate-reverse;
}

.tabSelection{
  @apply cursor-pointer text-gray-400;
}

.skillList{
  @apply lg:text-2xl p-5 space-y-2;
}
.skillTitle{
  @apply text-center text-gray-300 underline rounded-t-2xl bg-emerald-600;
}
.skillItem{
  @apply bg-gray-400 p-2 rounded-3xl;
}