@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

.handjet-neon {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(600deg,#000000,#45556c,#000000);
  background-size: 600% 600%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-outline-Title {
  -webkit-text-stroke-width: 2px; /* Outline width */
  -webkit-text-stroke-color: #e0f760c0; /* Outline color */
}
.text-outline-Content {
  -webkit-text-stroke-width: 2px; /* Outline width */
  -webkit-text-stroke-color: #252524; /* Outline color */
}

.metal-bg{
  @apply bg-linear-to-b from-slate-600 via-gray-400 to-gray-500;
}
.screen-bg{
  @apply bg-linear-to-r from-[#04ff041a] via-[#65f36513] to-[#04ff041a];
}

.navButton{
  @apply bg-linear-to-t from-slate-300 via-gray-200 to-zinc-300 2xl:text-3xl p-2 md:tracking-widest border-3 
  border-y-slate-800 border-double rounded-2xl shadow-[inset_0_5px_15px_rgba(50,50,50)];
}
.navSelected{
  @apply text-green-700 text-shadow-lg text-shadow-green-400;
}
.navDeselected{
  @apply text-red-700 text-shadow-lg text-shadow-red-400;
}
.navPath{
  @apply w-[1vw] h-[10vh] border-2 2xl:border-x-4 border-y-10 border-x-slate-800;
}
.navNode{
   @apply w-[2vw] h-[2vh] border-x-3 2xl:border-x-10 border-y-3 2xl:border-b-10 border-t-5 border-y-slate-800 border-x-slate-800;
}

.titleText{
  @apply text-[#21bd02] 2xl:text-7xl;
}
.contentText{
  @apply text-[#a4ff9c];
}

.skillLabel{
  @apply bg-slate-700 text-center p-4 text-2xl md:text-5xl rounded-t-4xl -mb-20;
}
.skillTile{
  @apply 2xl:text-3xl text-center bg-white/10 rounded-4xl border p-5;
}